<footer class="footer text-muted bg-light" style="margin: 0px;">
  <ul class="list-inline mb-0 text-center">
    <li class="list-inline-item mr-3">© <%= 2019 %> SaintBayAutomation</li>
    <li class="list-inline-item mr-3"><%= link_to "Terms", "#" %></li>
    <li class="list-inline-item mr-3"><%= link_to "管理登陆", "#" %></li>
  </ul>
</footer>
