<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">为什么选择这个系列产品？（快速 精准 可靠）</div>
  <div class="card-body">
    <div class="row">
      <span class="col-6" style="line-height: 50px;">
        <span style="font-family: 微软雅黑, 'Microsoft YaHei';">
          <ul>
            <li>清晰标签/纸质标签/金属 标签/全息图标签</li>
            <li>全球安装使用超过5万台传感器</li>
            <li>适用于各种材料</li>
            <li>独享两年质保</li>
          </ul>
        </span>
      </span>
      <span class="col-6" style="line-height: 50px;">
        <span style="font-family: 微软雅黑, 'Microsoft YaHei';">
          <ul>
            <li>简易的调节过程</li>
            <li>最高速有效的标签传感器</li>
            <li>最精确的标签传感器</li>
            <li>最好的售后服务</li>
          </ul>
        </span>
      </span>
    </div>
  </div>
</div>

<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">标签传感器选择表</div>
  <div class="card-body">
    <table class="table table-bordered  labeltable">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th align="center" width="25%"><%= link_to("LRD8200", label_LRD8200_products_path)%></th>
          <th align="center" width="25%"><%= link_to("LRD6300", label_LRD6300_products_path)%></th>
          <th align="center" width="25%"><%= link_to("LRD2100", label_LRD2100_products_path)%></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="tdbg"><b>应用</b></td>
        </tr>
        <tr>
          <td class="AlternateRow">透明标签</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td class="AlternateRow">纸质标签</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td class="AlternateRow">固态箔/金属标签</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">金属艺术品、印刷或印花</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">接合处</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td class="AlternateRow">复卷机</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td colspan="4" class="tdbg"><b>规格</b></td>
        </tr>
        <tr>
          <td class="AlternateRow">响应时间<br></td>
          <td align="center">125 微秒</td>
          <td align="center">20 微秒</td>
          <td align="center">20 微秒</td>
        </tr>
        <tr>
          <td class="AlternateRow">最大开关速度</td>
          <td align="center">1&nbsp;kHz</td>
          <td align="center">10&nbsp;kHz</td>
          <td align="center">10&nbsp;kHz</td>
        </tr>
        <tr>
          <td class="AlternateRow">精确度</td>
          <td align="center">0.3 毫米</td>
          <td align="center">0.05 毫米</td>
          <td align="center">0.05 毫米 </td>
        </tr>
        <tr>
          <td colspan="4" class="tdbg"><b>产品特征</b></td>
        </tr>
        <tr>
          <td class="AlternateRow">技术</td>
          <td align="center">超声波</td>
          <td align="center">电容</td>
          <td align="center">电容</td>
        </tr>
        <tr>
          <td class="AlternateRow">调节</td>
          <td align="center">按钮</td>
          <td align="center">按钮</td>
          <td align="center">螺钉</td>
        </tr>
        <tr>
          <td class="AlternateRow"> 条形图显示</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">可选择亮/暗开关</td>
          <td align="center">按钮</td>
          <td align="center">连线</td>
          <td align="center">连线</td>
        </tr>
        <tr>
          <td class="AlternateRow">宽叉（3 毫米）</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">NPN 和 PNP 输出</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
