<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">Why choose us？（FAST ACCURATE RELIABLE）</div>
  <div class="card-body">
    <p><b style="font-size: 35px;">O</b>ptics-free sensing technology is at the heart of an LRD clear label sensor.They see labels regular “eyes” can’t see.This improved technology also makes them more precise and much faster than
traditional label sensors – even on ordinary paper labels. More than 50,000 LRD label sensors are installed across the globe and testify to their accuracy and reliability.</p>
  </div>
</div>

<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">Product Number Selection Guide</div>
  <div class="card-body">
    <table class="table table-bordered  labeltable">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th align="center" width="25%"><%= link_to("LRD8200", label_LRD8200_products_path)%></th>
          <th align="center" width="25%"><%= link_to("LRD6300", label_LRD6300_products_path)%></th>
          <th align="center" width="25%"><%= link_to("LRD2100", label_LRD2100_products_path)%></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="tdbg"><b>Application</b></td>
        </tr>
        <tr>
          <td class="AlternateRow">Clear Labels</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td class="AlternateRow">Paper labels</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td class="AlternateRow">Solid foil/metal labels</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">Metallic artwork, printing or stamping</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">Splices</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td class="AlternateRow">Rewinders</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
        <tr>
          <td colspan="4" class="tdbg"><b>Specifications</b></td>
        </tr>
        <tr>
          <td class="AlternateRow">Response Time(µs)<br></td>
          <td align="center">125 </td>
          <td align="center">20 </td>
          <td align="center">20 </td>
        </tr>
        <tr>
          <td class="AlternateRow">Maximum Switching Speed(kHz)</td>
          <td align="center">1&nbsp;kHz</td>
          <td align="center">10&nbsp;kHz</td>
          <td align="center">10&nbsp;kHz</td>
        </tr>
        <tr>
          <td class="AlternateRow">Accuracy(mm)</td>
          <td align="center">0.3 </td>
          <td align="center">0.05 </td>
          <td align="center">0.05 </td>
        </tr>
        <tr>
          <td colspan="4" class="tdbg"><b>Features</b></td>
        </tr>
        <tr>
          <td class="AlternateRow">Technology</td>
          <td align="center">Ultrasonic</td>
          <td align="center">Capacitive</td>
          <td align="center">Capacitive</td>
        </tr>
        <tr>
          <td class="AlternateRow">Adjustments</td>
          <td align="center">Button</td>
          <td align="center">Button</td>
          <td align="center">Screw</td>
        </tr>
        <tr>
          <td class="AlternateRow"> Bar Graph Display</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">Selectable Light/Dark Switching</td>
          <td align="center">Button</td>
          <td align="center">Wired</td>
          <td align="center">Wired</td>
        </tr>
        <tr>
          <td class="AlternateRow">Wide Fork (3 mm / 0.12")</td>
          <td align="center">•</td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td class="AlternateRow">NPN and PNP Outputs</td>
          <td align="center">•</td>
          <td align="center">•</td>
          <td align="center">•</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
