<h1 style="font-size: 40px;margin:20px;">
  LRD2100：电容式标签传感器 -无金属标签（透明或纸质）
</h1>
<hr>
<div class="boxRightNoWidthNoBorder">
  <img src="http://localhost:3000/images/label2100-1.jpg" alt="lrd2100 标签传感器透明标签传感器" border="0" height="157" width="198">
  <p><br><strong>LRD2100</strong>有完整的电缆<br></p>
  <p><img src="http://localhost:3000/images/label2100-3.jpg" alt="lrd2100c" height="94" width="100"><br> <strong>LRD2100C</strong><br>有一个M12型连接头<br></p>
</div>
<p>此款获奖的电容式透明标签传感器以其准确、可靠、稳定的配准完成对透明和纸质标签的检测。<br>当更换滚轴或环境变化时，无需进行调节。<br> 此款透明标签传感器也是检测接合处的绝佳之选！同时，对纸质标签的检测也异常精确。 </p>
<h2 style="font-size: 35px; color: #EA5E00;">速度 = 精确度</h2>
<p>电容技术是迄今为止速度最快的标签检测技术。更快速 = 更精确的配准和标签位置。<br> 将其 20 微秒的响应时间与其他技术 300-500 微秒的响应时间进行对比。</p>
<p> 对于金属标签或箔印刷图案标签 - <a href="#6300">选用 LRD6300</a>。 </p>
<ul>
  <li> 对于透明、不透明、纸质、印刷标签的检测尤为精确</li>
  <li> <em>在初始化设置后，</em>无需进行调节 </li>
  <li> 易于操作</li>
  <li> 速度比光学传感器更快</li>
  <li>行业标准输出</li>
  <li> Lion Precision 特有的可靠性</li>
  <li> 接合处检测</li>
  <li>两年保修期</li>
  <li>CE 和 RoHS 认证</li>
</ul>

<h3 style="font-size: 26px;">订单号：</h3>
<p>LRD2100（配内附电缆）：P014-4663<br> LRD2100C（配备 M12 型 5 针连接器）：P014-4664<br>LRD2100C 使用的电缆： 6200-0080 </p>

<h2 style="font-size: 35px; color: #EA5E00;">电容式标签传感器规格</h2>
<table class="table table-bordered labeltable" style="width: 600px; border: 1px; font-size: 20px;">
  <tbody>
    <tr>
      <td valign="top" width="50%">响应时间</td>
      <td align="right" valign="top">20 微秒</td>
    </tr>
    <tr>
      <td valign="top">精确度</td>
      <td align="right" valign="top">0.2 毫米 </td>
    </tr>
    <tr>
      <td valign="top">开关频率</td>
      <td align="right" valign="top">10&nbsp;kHz</td>
    </tr>
    <tr>
      <td valign="top">操作温度</td>
      <td align="right" valign="top">          4°C-50°C</td>
    </tr>
    <tr>
      <td valign="top">输出</td>
      <td align="right" valign="top">NPN、PNP 开路集电极</td>
    </tr>
    <tr>
      <td valign="top">输入电源</td>
      <td align="right" valign="top">+11-28&nbsp;VDC</td>
    </tr>
    <tr>
      <td colspan="2" valign="top">短路和超负荷保护</td>
    </tr>
  </tbody>
</table>
<br>
<h2 style="font-size: 35px; color: #EA5E00;">机械</h2>
<p align="left"><img src="http://localhost:3000/images/label2100-2.gif" alt="lrd2100 传感器机械图纸" height="336" width="395"></p>
<br>
<p>欲了解更多详细信息，请联系我们:<b style="color: lightblue;">saintbayauto@163.com</b></p>
<br>
