<h1 style="font-size: 40px;margin:20px;">
  LRD8200 超声波标签传感器 - 所有标签类型
</h1>
<hr>
<div class="boxRightNoWidthNoBorder">
  <img src="http://localhost:3000/images/label8200-1.jpg" alt="lrd8200 标签传感器" border="0" height="157" width="198">
</div>

<h2 style="font-size: 35px; color: #EA5E00;">操作简便</h2>
<p>LRD8200 是我们最新型标签传感器。其设计使您的标签检测操作<em>更加轻松便捷</em>。无需按住按钮和计算秒数，或尝试理解闪灯模式来确定刚刚做过的更改或调整。同时，也无需在标签页面上制作昂贵的“光电跟踪标记”。</p>

<h2 style="font-size: 35px; color: #EA5E00;">保持控制</h2>
<p>传感器独具特色
<ul>
  <li>轻触式按键调节</li>
  <li>快读型“三重检查验证”</li>
  <li>易于理解指示</li>
  <li>易于切换模式</li>
  <li>易于设置</li>
  <li>宽叉（3 毫米）</li>
  <li>两年保修期</li>
  <li>RoHS 认证</li>
</ul>
<br>
<table border="0" cellpadding="3" cellspacing="1" width="600">
  <tbody>
    <tr>
      <td>
        <h2 style="font-size: 35px; color: #EA5E00;">轻触式按键调节</h2>
        <p>无需再用调节螺丝刀！这些按键易于按动，聚酯覆层可避免按键磨损或碎裂，操作次数至少可达到 1,000,000 次。当超出范围时，可视化按键指示灯会变红。</p></td>
      <td><img src="http://localhost:3000/images/label8200-4.jpg" alt="标签传感器超出范围指示灯" height="85" width="155"></td>
    </tr>
    <tr>
      <td>
        <h2 style="font-size: 35px; color: #EA5E00;">三重检查验证</h2>操作员只需从远处轻轻一瞥，即可确认传感器处于正常工作状态。如果在运行期间 3 个标志性指示灯亮起，则说明传感器设置正确且运行正常。若未亮起，则可轻按几次调节按钮，直至点亮。</td>
      <td align="center"><p><img src="http://localhost:3000/images/label8200-5.jpg" alt="标签传感器三重检查验证" height="90" width="107"></p></td>
    </tr>
    <tr>
      <td>
        <h2 style="font-size: 35px; color: #EA5E00;">易于切换模式</h2>      通过亮/暗切换指示灯，您可轻易了解所处模式。当您主动更改模式时，轻易便捷，且不易出现无意改动的现象。
      </td>
      <td align="center"><p><img src="http://localhost:3000/images/label8200-6.jpg" alt="标签传感器模式切换" height="80" width="141"></p></td>
    </tr>
  </tbody>
</table>

<br>
<h3 style="font-size: 26px;">订单号：</h3>
<p>LRD8200：P016-6100<br> LRD8200（配备 LRD 安装适配器支架）：P016-6101 <br> LRD8200 配备的屏蔽电缆：6200-0081 <br> 仅 LRD 安装适配器支架：P016-6090    </p>

<h2 style="font-size: 35px; color: #EA5E00;">LRD8200 超声波标签传感器规格</h2>
<table class="table table-bordered labeltable" style="width: 600px; border: 1px; font-size: 20px;">
  <tbody>
    <tr>
      <td valign="top" width="50%">响应时间</td>
      <td align="right" valign="top">125 微秒</td>
    </tr>
    <tr>
      <td valign="top">精确度</td>
      <td align="right" valign="top">60 米/分钟：0.15 毫米<br>
250 米/分钟：0.60 毫米</td>
    </tr>
    <tr>
      <td valign="top">开关频率</td>
      <td align="right" valign="top">> 1kHz</td>
    </tr>
    <tr>
      <td valign="top">操作温度</td>
      <td align="right" valign="top">          4°C-50°C</td>
    </tr>
    <tr>
      <td valign="top">输出</td>
      <td align="right" valign="top">NPN、PNP 开路集电极</td>
    </tr>
    <tr>
      <td valign="top">输入电源</td>
      <td align="right" valign="top">+12-24&nbsp;VDC</td>
    </tr>
    <tr>
      <td colspan="2" valign="top">短路和超负荷保护</td>
    </tr>
  </tbody>
</table>
<br>

<h2 style="font-size: 35px; color: #EA5E00;">机械</h2>
<h3 style="font-size: 26px;">仅传感器</h3>
<p align="left"><img src="http://localhost:3000/images/label8200-2.gif" alt="lrd8200 传感器机械图纸" height="336" width="395"></p>

<h3 style="font-size: 26px;">配备适配器支架的传感器</h3>
<p align="left"><img src="http://localhost:3000/images/label8200-3.gif" alt="lrd8200 传感器图纸带支架" height="336" width="395"></p>
<br>

<p>欲了解更多详细信息，请联系我们:<b style="color: lightblue;">saintbayauto@163.com</b></p>
<br>
