<h1 style="font-size: 40px;margin:20px;">
  LRD6300：电容式标签传感器 - 多数标签类型
</h1>
<hr>
<div class="boxRightNoWidthNoBorder">
  <img src="http://localhost:3000/images/LRD2100.jpg" alt="lrd6300 标签传感器透明标签传感器" border="0" height="157" width="198">
  <p><br><strong>LRD6300</strong>有完整的电缆<br></p>
  <p><img src="http://localhost:3000/images/label2100-3.jpg" alt="lrd6300c" height="94" width="100"><br> <strong>LRD6300C</strong><br>有一个M12型连接头<br></p>
</div>

<p>LRD6110 电容式标签传感器可检测多数标签类型：透明、纸质、金属艺术品、金属油墨或烫印。还可检测接合处！<%= link_to "LRD8200", label_LRD8200_products_path%> 对于固态箔标签（在箔上印有艺术图案）的检测尤为精确。</p>

<h2 style="font-size: 35px; color: #EA5E00;">速度 = 精确度</h2>
<p>电容技术是迄今为止速度最快的标签检测技术。更快速 = 更精确的配准和标签位置 - 可检测多数标签类型。<br> 将 LRD6300 15&nbsp;微秒的响应时间与其他技术 300-500 微秒的响应时间进行对比。</p>

<ul>
  <li>用于清洁的，纸质的和大部分金属箔片标签</li>
  <li>使用高精度的电容传感器</li>
  <li>简单的按键设置</li>
  <li>两年保修期</li>
  <li>CE Compliant</li>
</ul>

<h3 style="font-size: 26px;">订单号：</h3>
<p>LRD6300（配内附电缆）：P017-6300<br> LRD6300C（配备M12型4针连接器）：P017-6301<br>LRD6300C 使用的电缆： 6200-0081 </p>

<h2 style="font-size: 35px; color: #EA5E00;">电容式标签传感器规格</h2>
<table class="table table-bordered labeltable" style="width: 600px; border: 1px; font-size: 20px;">
  <tbody>
    <tr>
      <td valign="top" width="50%">响应时间</td>
      <td align="right" valign="top">15 微秒</td>
    </tr>
    <tr>
      <td valign="top">精确度</td>
      <td align="right" valign="top">0.05毫米 </td>
    </tr>
    <tr>
      <td valign="top">开关频率</td>
      <td align="right" valign="top">10&nbsp;kHz</td>
    </tr>
    <tr>
      <td valign="top">操作温度</td>
      <td align="right" valign="top">          4°C-60°C</td>
    </tr>
    <tr>
      <td valign="top">输出</td>
      <td align="right" valign="top">NPN、PNP 开路集电极</td>
    </tr>
    <tr>
      <td valign="top">输入电源</td>
      <td align="right" valign="top">+11-28&nbsp;VDC</td>
    </tr>
    <tr>
      <td colspan="2" valign="top">短路和超负荷保护</td>
    </tr>
  </tbody>
</table>
<br>
<h2 style="font-size: 35px; color: #EA5E00;">机械</h2>
<p align="left"><img src="http://localhost:3000/images/label6300-2.gif" alt="lrd6300 传感器机械图纸" height="336" width="395"></p>
<br>
<p>欲了解更多详细信息，请联系我们:<b style="color: lightblue;">saintbayauto@163.com</b></p>
<br>
