<div id="spindlesea">
  <h1 style="font-size: 40px;margin:20px;">
    主轴检测检查仪（SCI）
  </h1>
  <div class="card" style="margin-top:10px;">
    <div class="card-header bg-light"><b>SEA样式</b></div>
    <div class="card-body" style="padding:10px;">
      <div class="row">
        <div class="col-4" style=" ">
          <p align="center"><%= tag.img(src:"http://localhost:3000/images/sci-3.jpg", alt:"sea", style: "width: 100%; height: 200px;", class: 'img-thumbnail') %></p>
        </div>
        <div class="col-4" style=" ">
          <p align="center"><%= tag.img(src:"http://localhost:3000/images/sci-2.jpg", alt:"sea", style: "width: 100%; height: 200px;", class: 'img-thumbnail') %></p>
        </div>
        <div class="col-4" style=" ">
          <p align="center"><%= tag.img(src:"http://localhost:3000/images/sci-4.jpg", alt:"sea", style: "width: 100%; height: 200px;", class: 'img-thumbnail') %></p>
        </div>
      </div>
    </div>
  </div>

  <p>快速轻松的了解机器的最佳性能参数。主轴的成本约为机床总成本的10%</p>
  <p>测量主轴允许您：</p>
  <ul>
    <li>确认或消除问题的根本原因。 </li>
    <li>避免不必要的主轴维修或更换。</li>
    <li>最大限度地减少停机时间 提高机床利用率</li>
    <li>减少报废/识别最佳和最差速度</li>
    <li>更好的PM计划和调度</li>
    <li>设置机床的基准和跟踪一段时间内的性能</li>
    <li>比较机器以更好地分配作业</li>
    <li>在进行PM之前 发生碰撞后测量主轴</li>
    <li>证明新机床合格</li>
  </ul>
</div>

<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">选择步骤</div>
  <div class="card-body"  style="padding:0px;">
    <%= tag.img src:"http://localhost:3000/images/sci-5.png", style: "width:700px; height: auto; margin-left:auto; margin-right:auto; display: block;" %>
  </div>
</div>

<br>
<p>欲了解更多详细信息，请联系我们:<b style="color: lightblue;">saintbayauto@163.com</b></p>
<br>
